 Importing Packages

In [1]:
import pandas as pd
import numpy as np
import nltk
import string
import re
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

from sklearn.metrics import f1_score

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In C:\Users\Dumbs\Anaconda3\envs\nlp_course\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The savefig.frameon rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In C:\Users\Dumbs\Anaconda3\envs\nlp_course\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The verbose.level rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.
In C:\Users\Dumbs\Anaconda3\envs\nlp_course\lib\site-packages\matplotlib\mpl-data\stylelib\_classic_test.mplstyle:
The verbose.fileo rcparam was deprecated in Matplotlib 3.1 and will be removed in 3.3.

Import Df's

In [2]:
train = pd.read_csv('train.csv') 
test = pd.read_csv('test.csv')

In [3]:
display(train.head())
display(test.head())

   sentiment                                            message  tweetid
0          1  PolySciMajor EPA chief doesn't think carbon di...   625221
1          1  It's not like we lack evidence of anthropogeni...   126103
2          2  RT @RawStory: Researchers say we have three ye...   698562
3          1  #TodayinMaker# WIRED : 2016 was a pivotal year...   573736
4          1  RT @SoyNovioDeTodas: It's 2016, and a racist, ...   466954

                                             message  tweetid
0  Europe will now be looking to China to make su...   169760
1  Combine this with the polling of staffers re c...    35326
2  The scary, unimpeachable evidence that climate...   224985
3  @Karoli @morgfair @OsborneInk @dailykos \nPuti...   476263
4  RT @FakeWillMoore: 'Female orgasms cause globa...   872928

Remove Punctuation and data pre processing

In [4]:
train2 = train.copy()

In [5]:
pattern_url = r'http[s]?://(?:[A-Za-z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9A-Fa-f][0-9A-Fa-f]))+'
subs_url = r'url-web'
train2['message'] = train2['message'].replace(to_replace=pattern_url,value=subs_url,regex=True)

train2['message'] = train2['message'].str.lower()

def punc_remove(post):
    punc_num = string.punctuation + '0123456789'
    return ''.join([i for i in post if i not in punc_num])

train2['message'] = train2['message'].apply(punc_remove)

In [6]:
train2.head()

   sentiment                                            message  tweetid
0          1  polyscimajor epa chief doesnt think carbon dio...   625221
1          1  its not like we lack evidence of anthropogenic...   126103
2          2  rt rawstory researchers say we have three year...   698562
3          1  todayinmaker wired   was a pivotal year in the...   573736
4          1  rt soynoviodetodas its  and a racist sexist cl...   466954

Define Variables

In [7]:
y2 = train['sentiment']
X2 = train['message']

Run Vectorization

In [8]:
vectorizer = TfidfVectorizer(ngram_range=(1,2), min_df=2, stop_words="english")
X2_vectorized = vectorizer.fit_transform(X2)

Run Test Train Split

In [9]:
X2_train,X2_val,y2_train,y2_val = train_test_split(X2_vectorized,y2,test_size=.3,shuffle=True, stratify=y2, random_state=11)

Training Model

In [10]:
clf2 = LinearSVC()
clf2.fit(X2_train, y2_train)
clf2_pred = clf2.predict(X2_val)

Check Model Performance

In [11]:
f1_score(y2_val, clf2_pred, average="macro")

0.6435966458730891

Getting Test Set Ready

In [12]:
testx2 = test['message']
test_vect2 = vectorizer.transform(testx2)

Make Predictions on Test Server

In [13]:
y_pred2 = clf2.predict(test_vect2)

In [15]:
test['sentiment'] = y_pred2

In [16]:
test.head()

                                             message  tweetid  sentiment
0  Europe will now be looking to China to make su...   169760          1
1  Combine this with the polling of staffers re c...    35326          1
2  The scary, unimpeachable evidence that climate...   224985          1
3  @Karoli @morgfair @OsborneInk @dailykos \nPuti...   476263          1
4  RT @FakeWillMoore: 'Female orgasms cause globa...   872928          0

Export Output to CSV

In [17]:
test[['tweetid','sentiment']].to_csv('second_submission.csv', index=False)

### V1 - Obsolete

vectorizer = TfidfVectorizer(ngram_range=(1,2), min_df=2, stop_words="english")
X_vectorized = vectorizer.fit_transform(X)

X_train,X_val,y_train,y_val = train_test_split(X_vectorized,y,test_size=.3,shuffle=True, stratify=y, random_state=11)


clf = LinearSVC()
clf.fit(X_train, y_train)
clf_pred = rfc.predict(X_val)

f1_score(y_val, clf_pred, average="macro")

testx = test['message']
test_vect = vectorizer.transform(testx)

y_pred = rfc.predict(test_vect)

test['sentiment'] = y_pred

test.head()

test[['tweetid','sentiment']].to_csv('first_submission.csv', index=False)